:root {
    --bg: #1e1e1e;
    --bg-body: #131f29;
}


@keyframes fade-in {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    background: url('/shader-screenshots/0.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: background-image 1s ease-in-out;
    overflow: hidden;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    z-index: 1000;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009758;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

@keyframes loading {
    0% { transform: rotate(0turn) }
    100% { transform: rotate(1turn) }
}

input, button {
    outline: none;
}

.main-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}
.game-frame-load,
.game-frame {
    position: absolute;
    border: none;
    width: 100%;
    height: calc(100% - 6.5%);
}

.version-chooser {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #333;
    padding: 10px;
    color: white;
    max-height: 7.5%;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.version-dropdown {
    position: relative;
    display: inline-block;
}

.version-btn {
    background-color: #444;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-width: 175px;
}

.version-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 160px;
    bottom: 100%;
    box-shadow: 0px -8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.version-content > a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.version-content > a:hover {
    background-color: #555;
}

.version-dropdown:hover .version-content {
    display: block;
}

.dropdown-arrow {
    margin-left: 10px;
}

.version-content .vanilla {
    background-color: #065800;
}

.version-content .vanilla:hover {
    background-color: #087400;
}

.version-content .modded {
    background-color: #c29f01;
}

.version-content .modded:hover {
    background-color: #cea902;
}

.version-content .hacked {
    background-color: #790101;
}

.version-content .hacked:hover {
    background-color: #970202;
}

.play-btn {
    color: white;
    text-decoration: none;
    background: #3b874b;
    border: 2px solid rgb(58, 88, 44);
    position: absolute;
    left: 50%;
    bottom: 50%;
    cursor: pointer;
    transform: translate(-50%, 50%);
    text-align: center;
    border-radius: 10px;
    padding: 0.75rem 5rem;
    transition: all 0.1s;
    font-weight: bold;
    font-size: 1.2rem;
}

.play-btn:hover {
    box-shadow: none;
    transform: translate(-50%, 50%);
    font-size: 1.3rem;
    background-color: #449557;
}

.play-btn-running {
    background: #a60000;
    border: 2px solid rgb(145, 0, 0);
}

.play-btn-running:hover {
    background-color: #b80101;
}

.dev-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mc-btn {
    position: absolute;
    visibility: visible;
    opacity: 1;
    background-color: #333333;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #aeaeae;
    cursor: pointer;
    z-index: 999;
    min-width: 40px;
    min-height: 40px;
    transition: ease-in-out 0.2s;
    animation: fade 2s linear;
}

.mc-btn:hover {
    background-color: #808080;
}

.game-frame .active {
    height:100%;
}

.key-container {
    display: flex;
    flex-direction: row;
}

.key-container {
    display: flex;
    flex-direction: row;
}

.key-item {
    max-width: 25%;
    min-width: 25%;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.key-item .vanilla {
    background-color: #065800;
}

.key-item .modded {
    background-color: #c29f01;
}

.key-item .hacked {
    background-color: #790101;
}